/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-btn-color: #D9D9D9;
    --main-light-color: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.375em;
}

p {
    font-size: medium;
    margin-top: 0px;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 1.125em;
}

.card {
    background-color: var(--main-light-color);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: bold;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header *******/
/** TBD: setup responsive rules **/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: auto;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none; /** Removes the default styling of lists **/
}

.nav-button {
    height: 49px;
    background-color: var(--main-light-color);
    border: none;
    padding: 10px;
    float: left;
}

.nav-button :not(:last-child) {
    padding-right: 30px;
}

.nav-item :hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
    cursor: pointer;
}

#booki-logo {
    width: 60px;
    height: 20px;
}

#booki-accueil :hover {
    filter: brightness(0.8) ;
}

/****** Search Bar *******/

.search-container {
    display:flex;
    flex-direction: row;
    margin: 10px 0 10px 0; /** Sets margins between containers **/
    font-size: 18px;
}

.search-container button, input {
    height: 3em;
    float: left;
    cursor: pointer;
    border: 1px solid var(--filter-btn-color);
}

.search-container button:not(:last-child), input:not(:last-child){
    border-right: none;
}

.search-container button {
    width: 3em;
    border-radius: 10px 0 0 10px;
}

.search-field {
    text-indent: 1em; /** Place le texte d'input un peu plus loin du bord gauche **/
    font-weight: bold;
}

.submit-button {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    font-weight: bold;
    text-align: center;
    padding: 10px; /** the text behaves weirdly when setting a padding of more than 10px **/
    border: none;
    border-radius: 0 10px 10px 0; /** tbd: find reasons why buttons lose their selectable trait when changing border params **/
}

.submit-button :hover {
    filter: brightness(0.5); 
} /** Not Working for the moment **/

.fa-location-dot {
    color: black; /** Sets the color of the location pin icon **/
}

/****** Filter Group ********/

.filters-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

.filters-container h2 {
    margin-right: 10px;
}

.filter-button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 80vw;
}

.filter-button :hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.filter-button {
    width: auto;
    height: 45px;
    border-radius: 25px;
    background-color: var(--main-light-color);
    padding: 0 15px;
    border: 2px solid var(--filter-btn-color);
    text-align: center;
    font-weight:600;
    /** tbd: find reasons why buttons lose their selectable trait when changing border params **/
    /** tbd: Find out how to deal with icon getting borders and changing colors on their own **/
}

.filter-button i {
    /** Sets spacing between icons and text within buttons **/
    padding-right: 0.75em;
}

/*** Infos Group ***/

.infos-container {
    display: flex;
    flex-direction: row;
    height: 2em;
    align-items: center;
    margin-bottom: 2em;
}

.infos-container p {
    margin-bottom: 0;
}
.hidden-info {
    display: none;
}


#infos-button {
    height: 24px;
    width: 24px;
    border-radius: 100%; 
    font-size: 0.625em;
    margin-right: 1em;
    background-color: var(--main-light-color);
    border: 1px solid var(--filter-btn-color);
}
#infos-button :hover {
    cursor: pointer;
}

#infos-button :hover .hidden-info {
    display: block;
} 

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.hebergements-cards .card {
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-radius: 20px 20px 0 0 ;
}
.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}
/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/** Le code ci-dessous correspond à la version responsive uniquement **/

/****** Media queries ***********/
/** Medium devices (tablets, less/equal than 1024px) **/

@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/** Small devices (phones, less than 768px) **/

@media (max-width: 767.98px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .populaires-cards a {
        width : 100%;
    }
}